.tic-tac-toe {
  flex-flow: row wrap;
  padding: 9rem;
  justify-content: space-between;
}

.cell {
  flex-grow: 1;
  flex-basis: 0;
  width: 15rem;
  height: 15rem;
  margin: 1.3rem;
  background-color: white;
  border-radius: 7px;
}
.cell img {
  width: inherit;
  height: inherit;
}
.cross-cursor:hover {
  cursor: url(../assets/img/cross-cursor.png), auto;
}
.circle-cursor:hover {
  cursor: url(../assets/img/circle-cursor.png), auto;
}
.page-title {
  padding-top: 3rem;
  flex-direction: column;
}
.cross {
  background-image: url(../assets/img/cross.svg);
  background-size:90%;
  background-position: center;
  background-repeat: no-repeat;
}
.circle {
  background-image: url(../assets/img/circle.svg);
  background-size:90%;
  background-position: center;
  background-repeat: no-repeat;
}
.flex-vertical {
  flex-direction: column;
}
.play-again {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 4px #b8b8b8;
  -moz-box-shadow: 0px 2px 4px #b8b8b8;
  box-shadow: 0px 2px 4px #b8b8b8;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #FE3235;
  padding: 10px 20px 10px 20px;
  border: solid #8f0000 1px;
  text-decoration: none;
}
.play-again:hover {
  background: #ff5255;
  text-decoration: none;
}